.item {
  transition: all 0.3s;
  cursor: pointer;
}

.item:hover {
  background: linear-gradient(180deg, #ffb12a 0%, #ef8100 100%);
  color: #fff;
}

.sort-item.active {
  background: linear-gradient(180deg, #ffb12a 0%, #ef8100 100%) !important;
  color: #fff !important;
}
