.show-all-categories {
  background: linear-gradient(180deg, #0077b6 0%, #003661 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.flex.flex-nowrap.overflow-x-auto {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.flex.flex-nowrap.overflow-x-auto::-webkit-scrollbar {
  display: none;
}
