.logo-title {
  background: -webkit-linear-gradient(179.96deg, #ffa509 0.03%, #f66c4f 66.17%);
  background: linear-gradient(179.96deg, #ffa509 0.03%, #f66c4f 66.17%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.search-input {
  box-shadow: 0px 2px 2px 0px #b4b4b440;
}
